
@{
    ViewBag.Title = "AdminMain";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2 style="text-align:center; color: red; font-family:'Times New Roman'">BẢN QUYỀN THUỘC VỀ NHÓM 5 ASP.NET</h2>

