
@{
    <!DOCTYPE html>
    <html lang="en">
    <!-- Mirrored from mironmahmud.com/organe/assets/ltr/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Jun 2021 14:24:31 GMT -->
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type"
          content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="mironcoder" />
        <meta name="email" content="mironcoder@gmail.com" />
        <meta name="profile" content="https://themeforest.net/user/mironcoder" />
        <meta name="template" content="Organe" />
        <meta name="title" content="Organe - Organic Food HTML Template" />
        <meta name="keywords"
              content="organe, organic, food, shop, ecommerce, store, html, agriculture, vegetable, organic food, organic product, organic farm, organic life, organic shop, food store" />
        <title>Thịt - Cá - Trứng</title>
        <link rel="icon" href="images/favicon.png" />
        <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
        <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
        <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
        <link rel="stylesheet" href="css/vendor/nice-select.min.css" />
        <link rel="stylesheet" href="css/vendor/venobox.min.css" />
        <link rel="stylesheet" href="css/vendor/slick.min.css" />
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="css/custom/main.css" />
    </head>

    <body>
        <div class="backdrop"></div>

        <section class="header-part">
            <div class="container">
                <div class="header-content">
                    <div class="header-media-group">
                        <button class="header-user">
                            <img src="~/wwwroot/wwwroot_main/images/user.png" alt="user" />
                        </button><a href="index.html">
                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2017/08/logo.png"
                                 alt="logo" />
                        </a><button class="header-src"><i class="fas fa-search"></i></button>
                    </div>
                    <a href="index.html" class="header-logo">
                        <img src="https://ecomartvietnam.vn/wp-content/uploads/2017/08/logo.png"
                             alt="logo" />
                    </a><a href="login.html" class="header-widget" title="My Account"><img src="~/wwwroot/wwwroot_main/user.png" alt="user" /><span>Đăng nhập</span></a>
                    <form class="header-form">
                        <input type="text" placeholder="Tìm kiếm..." /><button> ~/
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <div class="header-widget-group">
                        <a class="header-widget header-cart"
                           title="Cartlist"
                           href="checkout.html">
                            <i class="fas fa-shopping-basket"></i><sup>9+</sup><span>Tổng<small>120.000đ</small></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start menu pc -->
        <nav class="navbar-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-content">
                            <ul class="navbar-list">
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link" href="#">trang chủ</a>
                                </li>
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link dropdown-arrow" href="#">danh mục sản phẩm</a>
                                    <ul class="dropdown-position-list">
                                        <li><a href="./category.html">combo tiện lợi</a></li>
                                        <li><a href="#">thịt - cá - trứng</a></li>
                                        <li><a href="#">rau củ quả</a></li>
                                        <li><a href="#">thực phẩm khô</a></li>
                                        <li><a href="#">các loại nấm</a></li>
                                    </ul>
                                </li>
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link" href="#">khuyến mãi</a>
                                </li>
                                <li class="navbar-item dropdown">
                                    <a class="navbar-link" href="#">hệ thống cửa hàng</a>
                                </li>
                            </ul>
                            <div class="navbar-info-group">
                                <div class="navbar-info">
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p><small>hotline</small><span>0976.658.183</span></p>
                                </div>
                                <div class="navbar-info">
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <small>email</small><span>contact@ecomartvietnam.vn</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End menu pc -->
        <!-- Start menu mobile -->
        <aside class="nav-sidebar">
            <div class="nav-header">
                <a href="#">
                    <img src="https://ecomartvietnam.vn/wp-content/uploads/2017/08/logo.png"
                         alt="logo" />
                </a><button class="nav-close"><i class="icofont-close"></i></button>
            </div>
            <div class="nav-content">
                <div class="nav-btn">
                    <a href="login.html" class="btn btn-inline"><i class="fa fa-unlock-alt"></i><span>đăng nhập</span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a class="nav-link" href="#"><i class="icofont-home"></i>Trang chủ</a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-link" href="#"><i class="icofont-page"></i>danh mục sản phẩm</a>
                        <ul class="dropdown-list">
                            <li><a href="product-tab.html">combo tiện lợi</a></li>
                            <li>
                                <a href="product-grid.html">thịt - cá - trứng<span class="menu-badge">hot</span></a>
                            </li>
                            <li>
                                <a href="product-video.html">rau củ quả<span class="menu-badge">hot</span></a>
                            </li>
                            <li><a href="product.html">thực phẩm khô</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link cart-btn" href="checkout.html">
                            <i class="fas fa-shopping-basket"></i><span>giỏ hàng</span><sup>9+</sup>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="contact.html"><i class="icofont-contacts"></i>liên hệ</a>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html"><i class="icofont-logout"></i>đăng xuất</a>
                    </li>
                </ul>
                <div class="nav-info-group">
                    <div class="nav-info">
                        <i class="icofont-ui-touch-phone"></i>
                        <p><small>liên hệ</small><span>0976.658.183</span></p>
                    </div>
                    <div class="nav-info">
                        <i class="icofont-ui-email"></i>
                        <p><small>email</small><span>contact@ecomartvietnam.vn</span></p>
                    </div>
                </div>
                <div class="nav-footer">
                    <p>Bản quyền thuộc về nhóm 2 ASP.NET</p>
                </div>
            </div>
        </aside>
        <!-- End menu mobile -->

        <section class="inner-section single-banner">
            <div class="container">
                <h2>Thịt - Cá - Trứng</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Thịt - Cá - Trứng
                    </li>
                </ol>
            </div>
        </section>
        <section class="inner-section shop-part">
            <div class="container">
                <div class="row content-reverse">
                    <div class="col-lg-3">
                        <div class="shop-widget-promo">
                            <a href="#"><img src="~/wwwroot/wwwroot_main/images/promo/shop/01.jpg" alt="promo" /></a>
                        </div>
                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Lọc theo giá</h6>
                            <form>
                                <div class="shop-widget-group">
                                    <input type="text" placeholder="Bắt đầu" /><input type="text"
                                                                                      placeholder="Kết thúc" />
                                </div>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i><span>tìm</span>
                                </button>
                            </form>
                        </div>
                        <div class="shop-widget">
                            <h6 class="shop-widget-title">lọc theo danh mục</h6>
                            <form>
                                <ul class="shop-widget-list shop-widget-scroll">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="cate1" /><label for="cate1">Thịt - Cá - Trứng</label>
                                        </div>
                                        <!-- <span class="shop-widget-number">(13)</span> -->
                                    </li>
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="cate1" /><label for="cate1">Combo tiện lợi</label>
                                        </div>
                                        <!-- <span class="shop-widget-number">(13)</span> -->
                                    </li>
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="cate1" /><label for="cate1">Rau củ quả</label>
                                        </div>
                                        <!-- <span class="shop-widget-number">(13)</span> -->
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="far fa-trash-alt"></i><span>Xoá bộ lọc</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="top-filter">
                                    <div class="filter-short">
                                        <label class="filter-label">Sắp xếp theo :</label><select class="form-select filter-select">
                                            <option selected>mặc định</option>
                                            <option value="3">mới nhất</option>
                                            <option value="1">giá từ thấp tới cao</option>
                                            <option value="2">giá từ cao tới thấp</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-card">
                                    <div class="product-media">
                                        <a class="product-image" href="product.html">
                                            <img src="https://ecomartvietnam.vn/wp-content/uploads/2020/09/dui-toi-ga-cp-jpg-01-405x330.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-name">
                                            <a href="product.html">Đùi gà CP</a>
                                        </h6>
                                        <h6 class="product-price">
                                            <span>95.000₫</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i><span>mua hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="bottom-paginate">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-long-arrow-alt-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link active" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">...</li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">60</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="intro-part">
            <div class="container">
                <div class="row intro-content">
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon"><i class="fas fa-truck"></i></div>
                            <div class="intro-content">
                                <h5>miễn phí giao hàng</h5>
                                <p>
                                    Cho đơn hàng từ 200.000 trở lên. (Áp dụng nội thành Hà Nội)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
                            <div class="intro-content">
                                <h5>Hoàn tiền 100%</h5>
                                <p>Đổi trả hoàn tiền 100% không cần lý do</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon"><i class="fas fa-headset"></i></div>
                            <div class="intro-content">
                                <h5>hỗ trợ 24/7</h5>
                                <p>Đội ngũ hỗ trợ giải quyết vấn đề 24/7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon"><i class="fas fa-lock"></i></div>
                            <div class="intro-content">
                                <h5>Thanh toán nhanh</h5>
                                <p>Hỗ trợ các phương thức thanh toán an toàn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-part">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <a class="footer-logo" href="#">
                                <img src="https://ecomartvietnam.vn/wp-content/uploads/2017/08/logo.png"
                                     alt="logo" />
                            </a>
                            <p class="footer-desc">
                                Eco Mart là thương hiệu chuyên cung cấp các thực phẩm sạch tươi
                                ngon đến mọi nhà. Hiện nay chuỗi cửa hàng Eco Mart đã xuất hiện
                                tại nhiều nơi tại các khu dân cư đông đúc tại Hà Nội.
                            </p>
                            <ul class="footer-social">
                                <li><a class="icofont-facebook" href="#"></a></li>
                                <li><a class="icofont-twitter" href="#"></a></li>
                                <li><a class="icofont-linkedin" href="#"></a></li>
                                <li><a class="icofont-instagram" href="#"></a></li>
                                <li><a class="icofont-pinterest" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget contact">
                            <h3 class="footer-title">liên hệ</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="icofont-ui-email"></i>
                                    <p>
                                        <span>contact@ecomartvietnam.vn</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-ui-touch-phone"></i>
                                    <p>
                                        <span>0976.658.183</span>
                                    </p>
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <p>Head Office: 12 Khuất Duy Tiến, Thanh Xuân, Hà Nội.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">hướng dẫn & hỗ trợ</h3>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                                    <li><a href="#">Chính sách đổi trả</a></li>
                                    <li><a href="#">Giới thiệu</a></li>
                                    <li><a href="#">Hệ thống siêu thị</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="footer-widget">
                            <h3 class="footer-title">Download App</h3>
                            <p class="footer-desc">
                                Ứng dụng Eco Mart đã có trên Google Play & App Store. Tải ứng
                                dụng ngay!
                            </p>
                            <div class="footer-app">
                                <a href="#"><img src="~/wwwroot/wwwroot_main/images/google-store.png" alt="google" /></a><a href="#"><img src="images/app-store.png" alt="app" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom">
                            <p class="footer-copytext">
                                &copy; Bản quyền thuộc về nhóm 2 ASP.NET
                            </p>
                            <div class="footer-card">
                                <a href="#"><img src="~/wwwroot/wwwroot_main/images/payment/jpg/01.jpg" alt="payment" /></a><a href="#"><img src="images/payment/jpg/02.jpg" alt="payment" /></a><a href="#"><img src="images/payment/jpg/03.jpg" alt="payment" /></a><a href="#">
                                    <img src="~/wwwroot/wwwroot_main/images/payment/jpg/04.jpg" alt="payment" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/wwwroot/wwwroot_main/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/popper.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/bootstrap.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/nice-select.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/venobox.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/countdown.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/vendor/slick.min.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/nice-select.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/countdown.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/accordion.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/venobox.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/slick.js"></script>
        <script src="~/wwwroot/wwwroot_main/js/custom/main.js"></script>
    </body>
    <!-- Mirrored from mironmahmud.com/organe/assets/ltr/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Jun 2021 14:24:31 GMT -->
</html>

